app = "cybertrain"
primary_region = "iad"

[build]
builder = "paketobuildpacks/builder:base"

[env]
PORT = "8080"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0

[[mounts]]
source = "reviews_data"
destination = "/data"

[processes]
web = "gunicorn app:app --bind 0.0.0.0:8080"
